# Python
__pycache__/
*.py[cod]
*.sqlite3
*.pyo
*.pyd

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Virtualenv
env/
.venv/
ENV/

# PyCharm
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
